<footer class="footer">
  <div class="footer">
    <div class="redes">
      <p>Síguenos en nuestras redes sociales</p>
      <ul>
        <p>Saúl Israel Tzakúm Ochoa</p>
        <li>
          <a href="https://www.linkedin.com/in/saul-israel-tzakum-ochoa-ba2430194/" target="_blank">
            <img src="assets/icons/linkedin.svg" class="linkedin" alt="">
          </a>
          <a href="https://github.com/AncientGear" target="_blank">
            <img src="assets/icons/github.svg" class="github" alt="">
          </a>
        </li>
        <p>Ángel Alejandro Ruiz May</p>
        <li>
          <a href="https://github.com/angel2101" target="_blank">
            <img src="assets/icons/github.svg" class="github" alt="">
          </a>
        </li>
        <p>Luis Alberto Moreno Kantún</p>
        <li>
          <a href="https://github.com/luismoreno98" target="_blank">
            <img src="assets/icons/github.svg" class="github" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div>
      <p>Dudas o sugerencias a
        <br>
        <img src="assets/icons/correo.svg" class="correo" alt="">
        cpp.saul@gmail.com
      </p>
    </div>
    <div>
      Todos los derechos reservados &copy; Succesfull
   </div>
  </div>
</footer>
