<div class="information">
  <ul>
    <li>
      <p>Creation of variables like int, float y char. In one or more lines.</p>
    </li>
    <li>
      <p>Aritmetic Operations Like +, -, * y /</p>
    </li>
    <li>
      <p> Accepting Differents Special Characters</p>
    </li>
  </ul>
</div>
<div>
  <p class="example">Example of Code:</p>
  <div class="ExampleCode">
    <textarea name="examplecode" id="examplecode" cols="30" rows="10" readonly=true>
int prueba1 = 1;
int prueba2 = 2;
int a = 12;

while(prueba1<=prueba2){
  prueba1 = prueba2/a;
}

while(prueba1<=prueba2&&prueba1==prueba2){
  prueba1 = prueba2/a;
}
    </textarea>
  </div>
</div>
